files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/12_add_nginx_configuration.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      /bin/echo "client_max_body_size 50M;" > /etc/nginx/conf.d/proxy.conf
      /sbin/service nginx reload
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "tasklish.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    ENV: PROD
  aws:elasticbeanstalk:container:python:
    WSGIPath: "tasklish.wsgi:application"
container_commands:
  01_makemigration:
    leader_only: true
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations"
  02_migrate:
    leader_only: true
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
  03_superuser:
    leader_only: true
    command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
  05_removelogfile:
    leader_only: true
    command: rm /tmp/django.log
    ignoreErrors: true
